.banner{ 
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    color: white;
    overflow: hidden;
    margin-top: 20vw;
    
}
.banner_p{
    font-size: 9vw;
    font-family: $UnLight;
    white-space: nowrap;
    overflow: hidden;
}

#banner_p_2{
    margin-left: 10vw;
}

#banner_p_3{
    margin-right: 10vw;
}

#banner_p_4{
    margin-right: 10vw;
}

#banner_p_5{
    margin-left: 10vw;
}
